@import '../../scss_variables/mixins.scss';
@import '../../scss_variables/colors.scss';
@import '../../scss_variables/fonts.scss';

.section {
    display: block;
    width: 100%;
    background: $background_primaray;
    padding-top: 3rem;
    
    @include mobile {
        padding: 0;
    }

    & h2 {
        color: $color_headline;
        font-size: $size_headline_big;
        margin: 0 0 4rem 0;
        text-align: center;

        @include mobile {
            margin: 0 0 1rem 0;
        }
    }
}

.slider {
    width: 100%;
    height: auto;
    margin: 0 auto;

    & .image-container {
        width: 100%;
        height: 750px;
        position: relative;

        @include mobile {
            height: 500px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            filter: brightness(30%);
        }

        & .text-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 40%;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 5%;

            @include tablet {
                top: 20%;
            }

            @include mobile {
                top: 30%;
            }
           
            & h3 {
                margin: 1rem 0;
                color: $color_headline;
                font-size: $size_headline_big;
                @include mobile {
                    font-size: $size_headline_medium;
                }
            }

            & p {
                color: $color_primary;
                font-size: $size_text_big;
                line-height: 1.5;
                width: 50%;

                @include mobile {
                    width: 100%;
                    font-size: $size_text_medium;
                }

                @include tablet {
                    width: 80%;
                }
            }
        }
    }

    & .slick-dots {
        bottom: 0;

        & li button:before {
            color: $color_accent;
        }
    }
}

