@import '../../scss_variables/mixins.scss';
@import '../../scss_variables/colors.scss';
@import '../../scss_variables/fonts.scss';

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $background_primaray;

    @include tablet {
        padding-top: 3rem;
    }

    @include mobile {
        padding-top: 2rem;
    }

    & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        border: 2px solid $border_color;
        border-radius: 10px;
        padding: 2rem 2rem;

        @include mobile {
            width: 90%;
            flex-direction: column;
            padding: 0.5rem 1rem;
        }


        & li {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 10px 0;
    
            & .svg-inline--fa.fa-w-16, .svg-inline--fa.fa-w-14 {
                width: 40px;
                height: 40px;
                margin-right: 15px;
            }
    
            & a, span {
                text-decoration: none;
                color: $color_primary;
                font-size: $size_text_medium;
                cursor: pointer;
    
                &:hover {
                   color: $color_accent;
                }
           }
        }
    }
}