$background_primaray: #000000;
$background_accent: #ffffff;
$background_gradient: linear-gradient(90deg, rgba(14,63,77,1) 0%, rgba(0,0,0,1) 100%, rgba(253,29,29,1) 100%);

$color_primary: #6f6f6f;
$color_headline: #ff214f;
$color_accent: #ffffff;
$border_color: #ff214f;