$screen-sm-min: 600px;

$screen-md-min: 768px;

$screen-lg-min: 992px;


@mixin mobile {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 @mixin tablet {
    @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 @mixin desktop {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 