@import '../../scss_variables/colors.scss';

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    align-items: center;
    background: $background_gradient;
    z-index: 1;
}

.navigation-items {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;

    & ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & li {
        padding: 0 1rem;
    }

    & a {
        text-decoration: none;
        color: $color_headline;
        font-weight: 600;

        &:hover {
            color: $color_accent;
        }
    }
}